/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  text-transform: capitalize;
}

.font-white {
  color: white !important;
}

.font-black {
  color: black;
}

.fs {
  font-size: 14px;
}

.fs24 {
  font-size: 24px;
}

.fs30 {
  font-size: 30px;
}

.fs48 {
  font-size: 48px;
}

.fs90 {
  font-size: 90px;
}

.display-none {
  display: none;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 75px 15px 80px;
  background-color: #f2f2f2;
}

.top-header a {
  color: #393939;
  text-transform: uppercase;
  font-size: 11px;
}

.top-header i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon-phone.png);
  background-position: center;
  background-size: cover;
}

.top-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header ul li {
  width: 143px;
  border-right: 1px solid #5c5c5c;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-header ul li:last-child {
  border: none;
}

.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 75px 30px 80px;
}

.bottom-header .mobile-menu {
  display: none;
  width: 150px;
  height: 60px;
  background-image: url(../img/mobile-menu-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.bottom-header .mobile-menu .mobile-menu-list {
  display: none;
}

.bottom-header .nav-menu a {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.bottom-header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-header .nav-menu ul li {
  margin-right: 27px;
  font-style: italic;
  text-transform: capitalize;
  position: relative;
}

.bottom-header .nav-menu ul li:last-child {
  margin-right: 0;
}

.bottom-header .nav-menu .sub-menu {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  overflow: hidden;
  height: 0px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.bottom-header .nav-menu .open-sub-menu:hover ul.sub-menu {
  height: 200px;
}

.bottom-header .social-header i {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 1px solid #d9bf8f;
  border-radius: 50%;
  margin-right: 15px;
}

.bottom-header .social-header .social-icon-top-fb {
  background-image: url(../img/f.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.bottom-header .social-header .social-icon-top-twitter {
  background-image: url(../img/twitter-icon.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-header .social-header .social-icon-top-twitter2 {
  background-image: url(../img/twitter-icon2.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-header .social-header .social-icon-top-instagram {
  background-image: url(../img/insta-icon.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-header .social-header .language {
  display: inline-block;
}

.bottom-header .social-header .language select {
  width: 115px;
  height: 35px;
  background-color: black;
  color: white;
  position: relative;
  top: -15px;
  text-transform: uppercase;
}

.bottom-header .social-header .language select option {
  background-color: #242424;
  height: 35px;
}

.slider .wrapper {
  background-image: url(../img/slider.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 138px;
  padding-left: 45px;
  padding-right: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider .sale {
  width: 277px;
  height: 277px;
  border: 2px solid white;
  border-radius: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider .sale .sale-in {
  width: 259px;
  height: 259px;
  border: 1px solid white;
  border-radius: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 6px;
  text-align: center;
  padding-top: 27px;
  line-height: 60px;
}

.button-shop-now {
  width: 190px;
  height: 53px;
  background-color: #f09d66;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 55px auto;
  font-size: 24px;
  text-transform: uppercase;
}

.button-shop-now a {
  display: block;
  line-height: 53px;
  vertical-align: middle;
  color: white;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 72px;
  margin: 113px auto 0px;
}

.scroll-icon {
  width: 15px;
  height: 15px;
  background-color: #b2b2b2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-left, .button-right {
  width: 19px;
  height: 50px;
  overflow: hidden;
  padding-top: 7px;
  padding-left: 7px;
  position: relative;
  top: -90px;
}

.button-left span, .button-right span {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button-right span {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 68px 75px 68px 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info .shipping {
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  position: relative;
}

.info .shipping:before {
  content: '';
  display: inline-block;
  position: absolute;
  overflow: visible;
  z-index: 10;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 40px solid #d9bf8f;
  border-bottom: 50px solid transparent;
}

.info .returns {
  color: white;
  width: 440px;
  height: 100px;
  background-color: black;
  position: relative;
}

.info .returns:before {
  content: '';
  display: inline-block;
  position: absolute;
  overflow: visible;
  z-index: 9;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 40px solid white;
  border-bottom: 50px solid transparent;
}

.info .returns:after {
  content: '';
  display: inline-block;
  position: absolute;
  overflow: visible;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 400px;
  top: 0px;
  width: 0;
  top: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 40px solid white;
  border-bottom: 50px solid transparent;
}

.info .support {
  width: 390px;
  height: 100px;
  background-color: #d9bf8f;
  position: relative;
}

.info .support:before {
  content: '';
  display: inline-block;
  position: absolute;
  overflow: visible;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -40px;
  width: 0;
  top: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 40px solid #d9bf8f;
  border-bottom: 50px solid transparent;
}

.info .icon-shipping, .info .icon-returns, .info .icon-support {
  background-image: url(../img/plane-icon.png);
  width: 45px;
  height: 45px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}

.info .icon-returns {
  background-image: url(../img/clock-icon.png);
}

.info .icon-support {
  background-image: url(../img/sup-icon.png);
}

.info .shipping, .info .returns, .info .support {
  text-align: center;
  padding-top: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info .shipping div, .info .returns div, .info .support div {
  display: inline-block;
}

.info .shipping div p, .info .returns div p, .info .support div p {
  text-align: left;
}

.catalog {
  margin-bottom: 96px;
}

.catalog h1:after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #d9bf8f;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 40px;
}

.catalog .catalog-content {
  width: auto;
  max-width: 1292px;
  border: 2px solid #eaeaea;
  margin: 0 auto;
  padding: 17px 0px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog .catalog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.catalog .catalog-grid li {
  position: relative;
  margin-bottom: 10px;
}

.catalog .catalog-grid li:hover .focus {
  visibility: visible;
}

.catalog .catalog-grid .focus {
  width: 300px;
  height: 350px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
  opacity: 0.5;
  visibility: hidden;
}

.catalog .catalog-grid .focus:before {
  content: '';
  width: 70px;
  height: 60px;
  background-image: url(../img/icon-catalog.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 115px;
  top: 145px;
  position: absolute;
  z-index: 12;
}

.catalog .catalog-grid .discount {
  width: 60px;
  height: 60px;
  background-color: #feab12;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: 15px;
}

.catalog .catalog-grid .add-cart {
  border-bottom: 42px solid #f0975c;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
  top: 308px;
  left: 17%;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.catalog .catalog-grid img {
  width: auto;
  height: 350px;
}

footer {
  background-color: #141414;
  color: white;
}

footer a {
  color: white;
}

footer .footer-content {
  width: auto;
  max-width: 1292px;
  padding-top: 70px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
  text-transform: capitalize;
}

footer .footer-content li a {
  color: #737373;
  line-height: 25px;
}

footer .footer-content li:first-child {
  text-transform: uppercase;
  margin-bottom: 50px;
}

footer .icon-footer-fb, footer .icon-footer-tw, footer .icon-footer-ins, footer .icon-footer-4, footer .icon-footer-5 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin-top: 42px;
  background-image: url(../img/icon-fb-footer.png);
  background-position: center;
  background-repeat: no-repeat;
}

footer .icon-footer-tw {
  background-image: url(../img/icon-tw-footer.png);
}

footer .icon-footer-ins {
  background-image: url(../img/icon-3-footer.png);
}

footer .icon-footer-4 {
  background-image: url(../img/icon-4-footer.png);
}

footer .icon-footer-5 {
  background-image: url(../img/icon-5-footer.png);
}

footer .footer-social li {
  display: inline-block;
  margin-right: 17px;
}

footer form {
  border: 1px solid #484848;
  width: 365px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  margin-top: 55px;
}

footer form input {
  width: 255px;
  height: 33px;
  padding: 0;
  background-color: #141414;
  border: none;
  color: white;
}

footer form button {
  width: 103px;
  height: 33px;
  background-color: #323030;
  border: none;
  color: white;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  width: auto;
  max-width: 1292px;
  margin: 0 auto;
  color: #363636;
  font-size: 11px;
  margin-top: 120px;
  padding-bottom: 120px;
}

footer .footer-bottom li {
  display: inline-block;
  margin-top: 15px;
}

footer .footer-bottom .pay-1, footer .footer-bottom .pay-2, footer .footer-bottom .pay-3, footer .footer-bottom .pay-4 {
  width: 20px;
  height: 10px;
  background-image: url(../img/icon-footer-bottom-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
}

footer .footer-bottom .pay-2 {
  background-image: url(../img/icon-footer-bottom-2.png);
}

footer .footer-bottom .pay-3 {
  background-image: url(../img/icon-footer-bottom-3.png);
}

footer .footer-bottom .pay-4 {
  background-image: url(../img/icon-footer-bottom-1.png);
}

footer .footer-bottom .top {
  width: 40px;
  height: 40px;
  background-color: black;
  background-image: url(../img/arrow-top.png);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
}

.line {
  display: inline-block;
  width: 20px;
  color: white;
}

.border-line {
  position: relative;
}

.border-line:before {
  content: '';
  border-bottom: 2px solid  white;
  width: 45px;
  position: absolute;
  left: 56px;
  top: 22px;
}

.border-line:after {
  content: '';
  border-bottom: 2px solid white;
  width: 45px;
  display: inline-block;
  position: absolute;
  left: -46px;
  top: 22px;
}

@media (max-width: 1200px) {
  .bottom-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bottom-header i {
    margin-right: 5px !important;
  }
  .info .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .info i {
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px !important;
  }
  .info p {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .top-header li {
    width: 90px !important;
  }
  .bottom-header .logo {
    width: 100%;
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -1;
    order: -1;
    text-align: center;
  }
  .info .wrapper {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .info .wrapper .shipping, .info .wrapper .returns, .info .wrapper .support {
    width: 100%;
  }
  .info .wrapper .shipping:before, .info .wrapper .returns:before, .info .wrapper .support:before {
    display: none;
  }
  .info .wrapper .shipping:after, .info .wrapper .returns:after, .info .wrapper .support:after {
    display: none;
  }
  footer .footer-content {
    margin-left: 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 698px) {
  .catalog-content {
    width: 350px !important;
  }
}

@media (max-width: 762px) {
  .top-header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .top-header .phone {
    width: 100%;
    margin-bottom: 40px;
  }
  .bottom-header .nav-menu {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .bottom-header .nav-menu ul {
    margin-top: 30px;
    margin-bottom: 30px;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-pack: center;
  }
  .bottom-header .social-header {
    margin: 40px auto;
  }
  footer .footer-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .nav-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .mobile-menu:hover .mobile-menu-list {
    display: block;
    position: absolute;
    top: 50px;
    left: 45px;
    line-height: 40px;
  }
  .mobile-menu:hover .mobile-menu-list a {
    color: lightblue;
  }
  footer .footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */